@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');


/* Nav bar css */
.navbar{
  border-bottom: 1px solid #D3D3D3;
  font-family:'yellowtail';
  font-size: 28px;
}
a{
  text-decoration: none;
  color: black;
}

/* Login page  */
.login{
  width: 400px;
  padding: 1vh;
  margin: auto;
  margin-top: 1vh;
  max-width: 500px;
}
.login input{
  width: 400px;
  box-sizing: border-box;
  padding: 22px 20px;
  margin: 8px 0;
  font-size: 20px;
}

/* Main page css */
.imagecontainer{
  /* border: 2px solid black; */
  margin: auto;
  margin-top: 3vh;
  max-width: 970px;
  height:900px;
  display: grid; 
  grid-template-columns: repeat(3, 330px);
}
.imagecard{
  border: 1px solid #D3D3D3;
  max-width: 40vh;
  height: 60vh;
  overflow:scroll;
  margin-left: 2vh;
  margin-top: 2vh;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
 
}
.imagecard:hover{
  box-shadow: 5px 5px 5px grey;
  transform: translateY(-10px);
}

.imagecontent{
background-color: #D0D4D7
}
.user{
  border-bottom: 1px solid black;
  display: flex;
}
.comment{
  border: 1px solid #D3D3D3;
  padding: 10px 50px;
  margin-left: 9px;

}
.delete{
  margin-left: 10px;
}
.deletetext{
  padding: 5px;
}
.edit{
  margin-left: 140px;
}
.edittext{
  padding: 2px;
}